<div class="container">
	<center>
		<h2>Facebook Contest - #DailyPanga</h2><br/><br/>
		<img ng-src="{{contestDetails.picture}}" title="DailyPanga facebook contest" alt="DailyPanga Facebook contest post">
		<br/><br/>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<button class="contest-button" ng-click="showPrevious(contestDetails.pageId)" ng-if="contestDetails.previous=='enable'">&larr;&nbsp;Previous</button>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">	
				<button class="contest-button" ng-click="showNext(contestDetails.pageId)" ng-if="contestDetails.next=='enable'">Next&nbsp;&rarr;</button>
			</div>
		</div>
		<br/><br/><br/>
		<a class="facebook-button" href="https://www.facebook.com/KabaddiProQuizGame" target="_blank">DM the answers in our Facebook Page<span style="font-size:20px;font-weight:bold;">&nbsp;&nbsp;&nbsp;f</span></a>
	</center>
</div>